<!DOCTYPE html>
<head>
    <title>After School Activities</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="design.css">
    <script src="activities.js"></script>
</head>
<body>
    
    <header>
        <p>Afterschool Acitivities</p>
    </header>
    
    <div class="main">
       
        <div class="left">
            
            <p>This is from left</p>
            <button v-on:click="showCheckout">
                {{cartItemCount}}
                Checkout
            </button>
            <div v-if="showProducts">
                <div class="sorting">
                    <label>Search : 
                    <input type="text" id="search" v-model="searchBar">
                </label>
                <br>
                    <label for="sort">Sort By: </label>
                    <select name="choices" id="sort">
                        <option value="subjects">Subjects</option>
                        <option value="location">Location</option>
                        <option value="prices">Prices</option>
                    </select>
                    <br>
                    <label for="ascending">Ascending
                    <input type="radio" id="ascending" value="ascending" name="order">
                    </label>
                    <br>
                    <label for="descending">Descending
                    <input type="radio" id="descending" value="descending" name="order">
                    </label>
                    

                </div>
            </div>
            <div v-else>
                Hello
            </div>
        </div>
            <div class="middle">
                <div v-if="showProducts" id="ifStatement">
                    <ul v-for="(active, index) in activity" :key="index">
                        <li>
                            <img v-bind:src="active.image">
                        </li>
                        <li>{{active.id}}</li>
                        <li>{{active.subject}}</li>
                        <li>{{active.spaces- cartItemCount}}</li>
                        <li>{{active.location}}</li>
                        <li>${{active.price}}</li>
                        <li>
                            <button v-on:click="addToCart(active)" >Add to Cart</button>
                        </li>
                    </ul>


                </div>
                <div v-else id="ifStatement">
                   
                    <ul v-for="(active,index) in cart" :key="index">
                        <li><img v-bind:src="active.image"></li>
                        <li>{{active.id}}</li>
                        <li>{{active.subject}}</li>
                        <li>{{active.spaces}}</li>
                        <li>{{active.location}}</li>
                        <li>${{active.price}}</li>


                        <button v-on:click="removeFromCart(index)">Remove from Cart</button>


                    </ul>

                </div>
                
            </div>
            <div class="right">
                <div v-if="showProducts">
                    Hello
                </div>
                <div v-else>
                Hi
                </div>
            </div>
        
    </div>

    <footer>
        This is from footer
    </footer>
    <script type="text/javascript">
        let webstore = new Vue({
            el: '.main',
            data: {
                sitename: "This is a test for vue",
                showProducts: true,
                activity: afterSchool,
                cart: [],
            },
            methods: {
                addToCart(active) {
                    this.cart.push(active);
                },
                removeFromCart(index) {
                    this.cart.splice(index,1);
                },
                showCheckout() {
                    this.showProducts = this.showProducts ? false : true;
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },
            },
            computed:{
                cartItemCount: function (index) {
                    return this.cart.length;
                },
            }
        });
    </script>
    



</body>


</html>